.skills-flip-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 80px 20px;
  margin: 40px auto;
  background-color: rgb(255 255 255);
  max-width: 1200px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  align-content: center;
  justify-content: center;
  scroll-margin-top: 60px;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #003366;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.flip-card {
  perspective: 800px;
  height: 160px;
  cursor: pointer;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px #cddbef;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

.flip-front {
  background-color: rgb(246 244 255);
  color: #161616;
  font-weight: bold;
  font-size: 1rem;
  flex-direction: column;
  gap: 8px;
}

.flip-back {
  background-color: #00657e;
  color: white;
  transform: rotateY(180deg);
  font-size: 0.85rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
}

.flip-back ul {
  list-style-type: disc;
  padding-left: 16px;
  margin: 0;
}
.flip-icon {
  font-size: 1.2rem;
  color: #666;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .skills-title {
    font-size: 2rem;
  }

  .skills-flip-section {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    padding: 30px 15px;
  }

  .flip-card {
    height: 150px;
  }

  .flip-front,
  .flip-back {
    font-size: 0.8rem;
    padding: 10px;
  }

  .flip-icon {
    font-size: 1rem;
  }
}
